# NumPy Tutorial

NumPy is an amazing scientific computing library that is used by numerous other Python Data Science libraries. It contains many mathematical, array and string functions that are extremely useful. Along with all the basic math functions you'll also find them for Linear Algebra, Statistics, Simulation, etc.

I recommend that you use the Jupyter setup and use with Anaconda so that you'll have access to all of NumPys dependencies. 

NumPy utilizes vector (1D Arrays) and matrice arrays (2D Arrays).

In [26]:
# Import Numpy Library
# Use alias as np because it is global convention
import numpy as np

In [27]:
# Import random module from Numpy Library
from numpy import random

In [28]:
# Provides beautiful plots of numerous type 
# that are either static, animated and/or interactive
import matplotlib.pylab as plt

## NumPy Arrays : Creating Arrays

In [29]:
# A Python list
list_1 = [1, 2, 3, 4, 5]

In [30]:
# Create NumPy 1 dimensional (1 axis) array list object of type byte (-128 to 127)
# A N-dimensional array is a usyally fixed size multidimensional array that contains items of the same type. 
np_arr_1 = np.array(list_1, dtype=np.int8)
np_arr_1

array([1, 2, 3, 4, 5], dtype=int8)

In [31]:
# Create multidimenional list
m_list_1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [32]:
# Create NumPy multidimensional (2 axis) array without defining type
np_m_arr_1 = np.array(m_list_1)

In [33]:
# You can also create arrays by defining the start value,stop value (up to but not include stop) and step amount
np.arange(1, 10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [34]:
# With floats define start, end and number of values
np.linspace(0, 5, 7)

array([0.        , 0.83333333, 1.66666667, 2.5       , 3.33333333,
       4.16666667, 5.        ])

In [35]:
# You can create a 3 item array of zeroes
np.zeros(4)

array([0., 0., 0., 0.])

In [36]:
# You can create multidimensional arrays of zeroes by passing
# a tuple with the 1st value being rows and the 2nd columns
np.zeros((2, 3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [37]:
# Create array of 1s
np.ones((2, 3))

array([[1., 1., 1.],
       [1., 1., 1.]])

In [38]:
# Get number of items in the array
np_m_arr_1.size

9

In [39]:
# Create array with defined values
np_arr_2 = np.array([1, 2, 3, 4, 5, 6])

In [40]:
# Get type for array
np_arr_2.dtype

dtype('int32')

In [41]:
# Data Types
# Boolean : np.bool_
# Char : np.byte
# Short : np.short
# Integer : np.short
# Long : np.int_
# Float : np.single & np.float32
# Double : np.double & np.float64
# np.int8 : -128 to 127
# np.int16 : -32768 to 32767
# np.int32 : -2147483648 to 2147483647
# np.int64 : -9223372036854775808 to 9223372036854775807

In [42]:
# Create random 5 value 1D array from 10 to 50
np.random.randint(10, 50, 5)

array([13, 18, 12, 25, 33])

In [43]:
# Create random matrix 2x3 with values between 10 and 50
np.random.randint(10, 50, size=(2, 3))

array([[28, 30, 12],
       [36, 45, 47]])

In [44]:
# Get help with a function
np.random.randint?

## Slicing and Indexes

In [56]:
# Change value at index
# np_m_arr_1[0,0] = 2
# np_m_arr_1.itemset((0,1), 1)
np_m_arr_1

array([[ 0,  3,  5,  9, 10],
       [ 2,  6,  8, 10, 10]])

In [57]:
# Get size of array
np_m_arr_1.shape

(2, 5)

In [58]:
# Get value by index
np_m_arr_1[0,1]

3

In [60]:
# Get value by index
np_m_arr_1.item(0,1)

3

In [61]:
# Get specific indices
np.take(np_m_arr_1, [0, 3, 6])

array([0, 9, 6])

In [62]:
# Replace provided index values with new values
np.put(np_m_arr_1, [0, 3, 6], [10, 10, 10])
print(np_m_arr_1)

[[10  3  5 10 10]
 [ 2 10  8 10 10]]

In [63]:
# Start at 1st through 5th with 2 step
np_arr_1[:5:2]

array([1, 3, 5], dtype=int8)

In [64]:
# Get 2nd value from each row
np_m_arr_1[:,1]

array([ 3, 10])

In [65]:
# Flip Array
np_arr_1[::-1]

array([5, 4, 3, 2, 1], dtype=int8)

In [66]:
# Get evens
evens = np_m_arr_1[np_m_arr_1%2==0]
evens

array([10, 10, 10,  2, 10,  8, 10, 10])

In [67]:
# Get values > 5
np_m_arr_1[np_m_arr_1 > 5]

array([10, 10, 10, 10,  8, 10, 10])

In [68]:
# 5 < value < 9
np_m_arr_1[(np_m_arr_1 > 5) & (np_m_arr_1 < 9)]

array([8])

In [69]:
# 5 < value or value = 10
np_m_arr_1[(np_m_arr_1 > 5) | (np_m_arr_1 == 10)]

array([10, 10, 10, 10,  8, 10, 10])

In [70]:
# Find uniques
np.unique(np_m_arr_1)

array([ 2,  3,  5,  8, 10])

## Reshaping Arrays

In [76]:
# Reshape array to 5 by 2
np_m_arr_1.reshape((5, 2))

array([[10,  3],
       [ 5, 10],
       [10,  2],
       [10,  8],
       [10, 10]])

In [80]:
# Reshape array to 5 by 2 (Items are either lost or 0s added)
np_m_arr_1.resize((5,2))
np_m_arr_1

array([[10,  3],
       [ 5, 10],
       [10,  2],
       [10,  8],
       [10, 10]])

In [86]:
# Transpose axes
np_m_arr_1.transpose()

array([[10,  5, 10, 10, 10],
       [ 3, 10,  2,  8, 10]])

In [85]:
# Swap axes 
np_m_arr_1.swapaxes(0,1)

array([[10,  5, 10, 10, 10],
       [ 3, 10,  2,  8, 10]])

In [87]:
# Flatten in order
np_m_arr_1.flatten()

array([10,  3,  5, 10, 10,  2, 10,  8, 10, 10])

In [88]:
# Flatten in column order
np_m_arr_1.flatten('F')

array([10,  5, 10, 10, 10,  3, 10,  2,  8, 10])

In [91]:
# Sort rows
np_m_arr_1.sort(axis=1)
print(np_m_arr_1)

[[ 3 10]
 [ 5 10]
 [ 2 10]
 [ 8 10]
 [10 10]]

In [92]:
# Sort columns
np_m_arr_1.sort(axis=0)
np_m_arr_1

array([[ 2, 10],
       [ 3, 10],
       [ 5, 10],
       [ 8, 10],
       [10, 10]])

## Stacking & Splitting

In [93]:
# Generate random arrays
ss_arr_1 = np.random.randint(10, size=(2, 2))
print("ss_arr_1\n", ss_arr_1)
ss_arr_2 = np.random.randint(10, size=(2, 2))
print("ss_arr_2\n", ss_arr_2)

ss_arr_1
 [[1 3]
 [1 4]]
ss_arr_2
 [[2 2]
 [4 8]]

In [94]:
# Stack Vertically (arr_2 under arr_1)
np.vstack((ss_arr_1, ss_arr_2))

array([[1, 3],
       [1, 4],
       [2, 2],
       [4, 8]])

In [95]:
# Stack horizontally
np.hstack((ss_arr_1, ss_arr_2))

array([[1, 3, 2, 2],
       [1, 4, 4, 8]])

In [96]:
# Delete 2nd row on each array
ss_arr_3 = np.delete(ss_arr_1, 1, 0)
ss_arr_4 = np.delete(ss_arr_2, 1, 0)
print("ss_arr_3\n", ss_arr_3)
print("ss_arr_4\n", ss_arr_4)

ss_arr_3
 [[1 3]]
ss_arr_4
 [[2 2]]

In [97]:
# Combine arrays
np.column_stack((ss_arr_3, ss_arr_4))

array([[1, 3, 2, 2]])

In [98]:
# Stack row wise in a 2D array
np.row_stack((ss_arr_3, ss_arr_4))

array([[1, 3],
       [2, 2]])

In [99]:
# Generate 2x10 array
ss_arr_5 = np.random.randint(10, size=(2, 10))
print("ss_arr_5\n", ss_arr_5)

ss_arr_5
 [[0 7 4 5 3 9 0 7 8 5]
 [0 6 5 9 8 8 5 2 3 3]]

In [100]:
# Split into 5 arrays taking from both arrays in multidimensional array
np.hsplit(ss_arr_5, 5)

[array([[0, 7],
        [0, 6]]),
 array([[4, 5],
        [5, 9]]),
 array([[3, 9],
        [8, 8]]),
 array([[0, 7],
        [5, 2]]),
 array([[8, 5],
        [3, 3]])]

In [101]:
# Split after 2nd & 4th column
np.hsplit(ss_arr_5, (2, 4))

[array([[0, 7],
        [0, 6]]),
 array([[4, 5],
        [5, 9]]),
 array([[3, 9, 0, 7, 8, 5],
        [8, 8, 5, 2, 3, 3]])]

## Copy and View

In [103]:
cp_arr_1 = np.random.randint(10, size=(2, 2))
cp_arr_1

array([[2, 7],
       [7, 2]])

In [106]:
# Both variables point at the same array
cp_arr_2 = cp_arr_1
cp_arr_2

array([[2, 7],
       [7, 2]])

In [107]:
# Change value
cp_arr_1[0,0] = 2
print("cp_arr_1\n", cp_arr_1)
print("cp_arr_2\n", cp_arr_2)

cp_arr_1
 [[2 7]
 [7 2]]
cp_arr_2
 [[2 7]
 [7 2]]

In [108]:
# Create a view of data where changes don't effect original
cp_arr_3 = cp_arr_1.view()
print("cp_arr_3\n", cp_arr_3)

cp_arr_3
 [[2 7]
 [7 2]]

In [109]:
cp_arr_3 = cp_arr_3.flatten('F')
print("cp_arr_3\n", cp_arr_3)
print("cp_arr_1\n", cp_arr_1)

cp_arr_3
 [2 7 7 2]
cp_arr_1
 [[2 7]
 [7 2]]

In [111]:
# Copy and create new array
cp_arr_4 = cp_arr_1.copy()
cp_arr_4

array([[2, 7],
       [7, 2]])

## Basic Mathematics

In [113]:
arr_3 = np.array([1, 2, 3, 4])
arr_4 = np.array([2, 4, 6, 8])

In [114]:
# Add values
arr_3 + arr_4

array([ 3,  6,  9, 12])

In [115]:
# Subtract
arr_3 - arr_4

array([-1, -2, -3, -4])

In [116]:
# Multiply
arr_3 * arr_4

array([ 2,  8, 18, 32])

In [117]:
# Divide
arr_3 / arr_4

array([0.5, 0.5, 0.5, 0.5])

In [118]:
# Random 4 digit 1D array between 0 to 100
arr_5 = random.randint(100, size=(4))
arr_5

array([93, 66, 90, 65])

In [119]:
# Random 2 by 3 digit 2D array between 0 to 100
arr_6 = random.randint(100, size=(2, 3))
arr_6

array([[29, 41, 43],
       [32,  3, 62]])

In [120]:
# 4 random floats
random.rand(4)

array([0.03070334, 0.56546378, 0.23253429, 0.68462578])

In [121]:
# Get random value from an array
random.choice(arr_3)

1

In [122]:
# Sum of values in array
arr_3.sum()

10

In [123]:
# Sum columns
print(arr_6)
arr_6.sum(axis=0)

[[29 41 43]
 [32  3 62]]

array([ 61,  44, 105])

In [124]:
# Cumulative sum of rows
arr_6.cumsum(axis=1)

array([[ 29,  70, 113],
       [ 32,  35,  97]], dtype=int32)

In [125]:
# Min of each row
arr_6.min(axis=1)

array([29,  3])

In [126]:
# Max of each column
arr_6.max(axis=0)

array([32, 41, 62])

In [127]:
print("arr_3", arr_3)
print("arr_4", arr_4)

arr_3 [1 2 3 4]
arr_4 [2 4 6 8]

In [128]:
# Add individual numbers to array
np.add(arr_3, 5)

array([6, 7, 8, 9])

In [129]:
# Add arrays
np.add(arr_3, arr_4)

array([ 3,  6,  9, 12])

In [130]:
# Subtract
np.subtract(arr_3, arr_4)

array([-1, -2, -3, -4])

In [131]:
# Multiply
np.multiply(arr_3, arr_4)

array([ 2,  8, 18, 32])

In [132]:
# Divide
np.divide(arr_3, arr_4)

array([0.5, 0.5, 0.5, 0.5])

In [133]:
arr_5 = np.array([[1, 2], [3, 4]])
arr_6 = np.array([[2, 4], [6, 9]])
print("arr_5\n", arr_5)
print("arr_6\n", arr_6)

arr_5
 [[1 2]
 [3 4]]
arr_6
 [[2 4]
 [6 9]]

In [134]:
# Divides elements in 1st array by 2nd array and returns remainder
np.remainder(arr_6, arr_5)

array([[0, 0],
       [0, 1]], dtype=int32)

In [135]:
# Return values in 1st array to powers defined in 2nd array
np.power(arr_6, arr_5)

array([[   2,   16],
       [ 216, 6561]], dtype=int32)

In [136]:
# Square root
np.sqrt(arr_3)

array([1.        , 1.41421356, 1.73205081, 2.        ])

In [137]:
# Cube root
np.cbrt(arr_3)

array([1.        , 1.25992105, 1.44224957, 1.58740105])

In [138]:
# Absolute value of every element
np.absolute([-1, -2])

array([1, 2])

In [139]:
# Exponential of all elements in array
np.exp(arr_3)

array([ 2.71828183,  7.3890561 , 20.08553692, 54.59815003])

In [140]:
# log functions
np.log(arr_3)
np.log2(arr_3)
np.log10(arr_3)

array([0.        , 0.30103   , 0.47712125, 0.60205999])

In [141]:
# Greatest common divisor
np.gcd.reduce([9, 12, 15])

3

In [142]:
# Lowest common multiple
np.lcm.reduce([9, 12, 15])

180

In [143]:
# Round down
np.floor([1.2, 2.5])

array([1., 2.])

In [144]:
# Round up
np.ceil([1.2, 2.5])

array([2., 3.])

In [145]:
# Can receive 6 values and square them
sq_arr = np.arange(6)**2
sq_arr[arr_3]

array([ 1,  4,  9, 16], dtype=int32)

In [146]:
arr_7 = random.randint(100, size=(5, 3))
print("arr_7\n", arr_7)

arr_7
 [[46 13 99]
 [22 11 49]
 [83 74 12]
 [27 49 91]
 [57 67 84]]

In [147]:
# Get index for max value per column
mc_index = arr_7.argmax(axis=0)
mc_index

array([2, 2, 0], dtype=int64)

In [148]:
# Get numbers corresponding to indexes
max_nums = arr_7[mc_index]
arr_7[mc_index, range(arr_7.shape[1])]

array([83, 74, 99])

## Reading from Files

In [149]:
# Pandas is used to manipulate tabular data and more
import pandas as pd

In [150]:
# Import using NumPy
from numpy import genfromtxt

In [151]:
# Read table of data from CSV file and convert to Numpy array
ic_sales = pd.read_csv('icecreamsales.csv').to_numpy()
ic_sales

array([[ 37, 292],
       [ 40, 228],
       [ 49, 324],
       [ 61, 376],
       [ 72, 440],
       [ 79, 496],
       [ 83, 536],
       [ 81, 556],
       [ 75, 496],
       [ 64, 412],
       [ 53, 324],
       [ 40, 320]], dtype=int64)

In [153]:
# Read data using NumPy
ic_sales_2 = genfromtxt('icecreamsales.csv', delimiter=',')
ic_sales_2

array([[ nan,  nan],
       [ 37., 292.],
       [ 40., 228.],
       [ 49., 324.],
       [ 61., 376.],
       [ 72., 440.],
       [ 79., 496.],
       [ 83., 536.],
       [ 81., 556.],
       [ 75., 496.],
       [ 64., 412.],
       [ 53., 324.],
       [ 40., 320.]])

In [154]:
# Remove NANs
ic_sales_2 = [row[~np.isnan(row)] for row in ic_sales_2]
ic_sales_2

[array([], dtype=float64),
 array([ 37., 292.]),
 array([ 40., 228.]),
 array([ 49., 324.]),
 array([ 61., 376.]),
 array([ 72., 440.]),
 array([ 79., 496.]),
 array([ 83., 536.]),
 array([ 81., 556.]),
 array([ 75., 496.]),
 array([ 64., 412.]),
 array([ 53., 324.]),
 array([ 40., 320.])]

## Statistics Functions

In [174]:
# Array 1 - 5
sarr_1 = np.arange(1, 6)
print(sarr_1)

[1 2 3 4 5]

In [175]:
np.mean(sarr_1)

3.0

In [176]:
np.median(sarr_1)

3.0

In [177]:
np.average(sarr_1)

3.0

In [178]:
np.std([4, 6, 3, 5, 2]) # Standard Deviation

1.4142135623730951

In [179]:
np.var([4, 6, 3, 5, 2]) # Variance

2.0

In [180]:
# Also nanmedian, nanmean, nanstd, nanvar

print("ic_sales\n", ic_sales)

ic_sales
 [[ 37 292]
 [ 40 228]
 [ 49 324]
 [ 61 376]
 [ 72 440]
 [ 79 496]
 [ 83 536]
 [ 81 556]
 [ 75 496]
 [ 64 412]
 [ 53 324]
 [ 40 320]]

In [181]:
# Get the 50th percentile of the data
np.percentile(ic_sales, 50, axis=0)

array([ 62.5, 394. ])

In [182]:
# Get 1st column
ic_sales[:,0]

array([37, 40, 49, 61, 72, 79, 83, 81, 75, 64, 53, 40], dtype=int64)

In [183]:
# Correlation coefficient : Measure of correlation between data
# Closer to 1 the more the data is correlated
np.corrcoef(ic_sales[:,0], ic_sales[:,1])

array([[1.        , 0.96181329],
       [0.96181329, 1.        ]])

In [184]:
# Calculating Regression line
# Σ(x-x̅)*(y-ȳ) / Σ(x-x̅)2
temp_mean = np.mean(ic_sales[:,0])
temp_mean

61.166666666666664

In [185]:
sales_mean = np.mean(ic_sales[:,1])
sales_mean

400.0

In [186]:
numerator = np.sum(((ic_sales[:,0] - temp_mean)*(ic_sales[:,1] - sales_mean)))
numerator

19064.0

In [187]:
denominator = np.sum(np.square(ic_sales[:,0] - temp_mean))
denominator

3199.666666666667

In [188]:
slope = numerator/denominator
slope

5.958120637566412

In [189]:
# Calculate y intercept
y_i = sales_mean - slope * temp_mean
y_i

35.56162100218779

In [190]:
reg_arr = ic_sales[:,0] * slope + y_i
reg_arr

array([256.01208459, 273.8864465 , 327.50953224, 399.00697989,
       464.54630691, 506.25315137, 530.08563392, 518.16939265,
       482.42066882, 416.88134181, 351.34201479, 273.8864465 ])

## Trigonometric Functions

In [191]:
# Generate array of 200 values between -pi & pi
t_arr = np.linspace(-np.pi, np.pi, 200)
t_arr

array([-3.14159265, -3.11001886, -3.07844506, -3.04687127, -3.01529747,
       -2.98372368, -2.95214988, -2.92057608, -2.88900229, -2.85742849,
       -2.8258547 , -2.7942809 , -2.76270711, -2.73113331, -2.69955952,
       -2.66798572, -2.63641193, -2.60483813, -2.57326433, -2.54169054,
       -2.51011674, -2.47854295, -2.44696915, -2.41539536, -2.38382156,
       -2.35224777, -2.32067397, -2.28910017, -2.25752638, -2.22595258,
       -2.19437879, -2.16280499, -2.1312312 , -2.0996574 , -2.06808361,
       -2.03650981, -2.00493602, -1.97336222, -1.94178842, -1.91021463,
       -1.87864083, -1.84706704, -1.81549324, -1.78391945, -1.75234565,
       -1.72077186, -1.68919806, -1.65762426, -1.62605047, -1.59447667,
       -1.56290288, -1.53132908, -1.49975529, -1.46818149, -1.4366077 ,
       -1.4050339 , -1.3734601 , -1.34188631, -1.31031251, -1.27873872,
       -1.24716492, -1.21559113, -1.18401733, -1.15244354, -1.12086974,
       -1.08929595, -1.05772215, -1.02614835, -0.99457456, -0.96300076,
       -0.93142697, -0.89985317, -0.86827938, -0.83670558, -0.80513179,
       -0.77355799, -0.74198419, -0.7104104 , -0.6788366 , -0.64726281,
       -0.61568901, -0.58411522, -0.55254142, -0.52096763, -0.48939383,
       -0.45782003, -0.42624624, -0.39467244, -0.36309865, -0.33152485,
       -0.29995106, -0.26837726, -0.23680347, -0.20522967, -0.17365588,
       -0.14208208, -0.11050828, -0.07893449, -0.04736069, -0.0157869 ,
        0.0157869 ,  0.04736069,  0.07893449,  0.11050828,  0.14208208,
        0.17365588,  0.20522967,  0.23680347,  0.26837726,  0.29995106,
        0.33152485,  0.36309865,  0.39467244,  0.42624624,  0.45782003,
        0.48939383,  0.52096763,  0.55254142,  0.58411522,  0.61568901,
        0.64726281,  0.6788366 ,  0.7104104 ,  0.74198419,  0.77355799,
        0.80513179,  0.83670558,  0.86827938,  0.89985317,  0.93142697,
        0.96300076,  0.99457456,  1.02614835,  1.05772215,  1.08929595,
        1.12086974,  1.15244354,  1.18401733,  1.21559113,  1.24716492,
        1.27873872,  1.31031251,  1.34188631,  1.3734601 ,  1.4050339 ,
        1.4366077 ,  1.46818149,  1.49975529,  1.53132908,  1.56290288,
        1.59447667,  1.62605047,  1.65762426,  1.68919806,  1.72077186,
        1.75234565,  1.78391945,  1.81549324,  1.84706704,  1.87864083,
        1.91021463,  1.94178842,  1.97336222,  2.00493602,  2.03650981,
        2.06808361,  2.0996574 ,  2.1312312 ,  2.16280499,  2.19437879,
        2.22595258,  2.25752638,  2.28910017,  2.32067397,  2.35224777,
        2.38382156,  2.41539536,  2.44696915,  2.47854295,  2.51011674,
        2.54169054,  2.57326433,  2.60483813,  2.63641193,  2.66798572,
        2.69955952,  2.73113331,  2.76270711,  2.7942809 ,  2.8258547 ,
        2.85742849,  2.88900229,  2.92057608,  2.95214988,  2.98372368,
        3.01529747,  3.04687127,  3.07844506,  3.11001886,  3.14159265])

In [192]:
# Plot with x axis & y axis data 
# plt.plot(t_arr, np.sin(t_arr)) # SIN
# plt.plot(t_arr, np.cos(t_arr)) # COS
# plt.plot(t_arr, np.tan(t_arr)) # TAN
# Display plot
# plt.show()

In [193]:
# Provides inverse of If y = cos(x), x = arccos(y)
np.arcsin(1)
np.arccos(1)
np.arctan(0)
# Also arctan2, sinh, cosh, tanh, arcsinh, arccosh, arctanh

0.0

In [194]:
# Radians to degrees
np.rad2deg(np.pi)

180.0

In [195]:
# Degrees to radians
np.deg2rad(180)

3.141592653589793

In [196]:
# Hypotenuse c = √w² + h²
np.hypot(10,10)

14.142135623730951

## Matrix Functions

In [53]:
from numpy import linalg as LA

print("arr_5\n", arr_5)
print("arr_6\n", arr_6)
arr_8 = np.array([[5, 6], [7, 8]])

# Matrix multiplication with Dot Product
# (1 * 2) + (2 * 6) = 14 [0,0]
# (1 * 4) + (2 * 9) = 22 [0,1]
# (3 * 2) + (4 * 6) = 30 [1,0]
# (3 * 4) + (4 * 9) = 12 + 36 = 48 [1,1]
np.dot(arr_5, arr_6)
# Compute dot product of 2 or more arrays
LA.multi_dot([arr_5, arr_6, arr_8])

# Inner product 
# (1 * 2) + (2 * 4) = 10 [0,0]
# (1 * 6) + (2 * 9) = 24 [0,1]
# (3 * 2) + (4 * 4) = 22 [1,0]
# (3 * 6) + (4 * 9) = 54 [1,1]
np.inner(arr_5, arr_6)
np.dot(arr_5, arr_6)

# Tensor Dot Product
# (1 * 1) + (2 * 2) + (3 * 3) + (4 * 4) = 30
# (5 * 1) + (6 * 2) + (7 * 3) + (8 * 4) = 
arr_9 = np.array([[[1, 2],
        [3, 4]],
       [[5, 6],
        [7, 8]]])
arr_10 = np.array([[1, 2],
       [3, 4]], dtype=object)
np.tensordot(arr_9, arr_10)

# Einstein Summation : Provides many ways to perform
# operations on multiple arrays
arr_11 = np.array([0, 1])
arr_12 = np.array([[0, 1, 2, 3], [4, 5, 6, 7]])
# Left Side of -> : 1 axis for arr_11 and 2 axis for arr_12
# Right of -> : Array we want (1D Array)
# ij : Means multiply arr_11 single item by each column of arr_12 and sum
# [0, 4 + 5 + 6 + 7]
np.einsum('i,ij->i', arr_11, arr_12)
# Sum values in arr_11
np.einsum('i->', arr_11)
# Dot Product
print("arr_3\n", arr_3)
print("arr_4\n", arr_4)
np.einsum('i,i->', arr_3, arr_4)
# Matrix multiplication
np.einsum('ij,jk', arr_5, arr_6)
# Get diagonal
np.einsum('ii', arr_5)
# Transpose
np.einsum('ji', arr_5)

# Raise matrix to the power of n
# Given [[a, b], [c, d]]
# [[a² + bc, ab +db], [ac + dc, d² + bc]
LA.matrix_power(arr_5, 2)

# Kronecker product of 2 arrays
# Given [[a, b], [c, d]], [[e, f], [g, h]]
# [[a*e, a*f, b*e, b*f], [a*g, a*h, b*g, b*h], ...]
np.kron(arr_5, arr_6)

# Compute eigenvalues
LA.eig(arr_5) # Returns eigenvectors
LA.eigvals(arr_5)

# Get Vector Norm sqrt(sum(x**2))
LA.norm(arr_5)

# Get Multiplicative Inverse of a matrix
LA.inv(arr_5)

# Get Condition number of matrix
LA.cond(arr_5)

# Determinates are used to compute volume, area, to solve systems
# of equations and more. It is a way you can multiply values in a
# matrix to get 1 number.
# For a matrix to have an inverse its determinate must not equal 0
# det([[a, b], [c, d]]) = a*d - b*c
arr_12 = np.array([[1, 2], [3, 4]])
# 1*4 - 2*3 = -2
LA.det(arr_12)

# Determinate of 3x3 Matrix
# det([[a, b, c], [d, e, f], [g, h, i]]) = a*e*i - b*d*i + c*d*h
# - a*f*h + b*f*g - c*e*g

# When we multiply a matrix times its inverse we get the identity
# matrix [[1,0],[0,1]] for a 2x2 matrix
# Calculate the inverse 1/(a*d - b*c) * [[d, -b], [-c, a]]
# 1/(4 - 6) = -.5 -> [[-.5*4, -.5*-2], [-.5*-3, -.5*a]]
arr_12_i = LA.inv(arr_12)
arr_12_i

np.dot(arr_12, arr_12_i)

# Solving Systems of Linear Equations
# If you have 3x + 5 = 9x -> 5 = 6x -> x = 5/6
# If you have x + 4y = 10 & 6x + 18y = 42
# Isolate x -> x = 10 - 4y
# 6(10 - 4y) + 18y = 42 -> 60 - 24y + 18y = 42 - > -6y = -18 -> y = 3
# x + 4*3 = 10 -> x = -2
arr_13 = np.array([[1, 4], [6, 18]])
arr_14 = np.array([10, 42])
# Solve will solve this for you as well
LA.solve(arr_13, arr_14)

# Return a identity matrix with defined number of rows and columns
np.eye(2, 2, dtype=int)

arr_5
 [[1 2]
 [3 4]]
arr_6
 [[2 4]
 [6 9]]
arr_3
 [1 2 3 4]
arr_4
 [2 4 6 8]

array([[1, 0],
       [0, 1]])

### Saving & Loading NumPy Objects

In [54]:
arr_15 = np.array([[1, 2], [3, 4]])
# Save as randarray.npy
np.save('randarray', arr_15)
# Load saved array 
arr_16 = np.load('randarray.npy')
arr_16

# Save as a CSV 
np.savetxt('randcsv.csv', arr_15)
# Load CSV
arr_17 = np.loadtxt('randcsv.csv')
arr_17

array([[1., 2.],
       [3., 4.]])

### Financial Functions

In [55]:
# Install in Conda terminal with
# conda install pip
# pip install numpy-financial
import numpy_financial as npf

# Compute future value of $400 investment every month
# with an annual rate of 8% after 10 years
npf.fv(.08/12, 10*12, -400, -400)

# Calculate interest portion of payment on a loan of $3,000
# at 9.25% per year compounded monthly
# Period of loan (year)
period = np.arange(1*12) + 1
principle = 3000.00
# Interest Payment
ipmt = npf.ipmt(0.0925/12, period, 1*12, principle)
# Principle Payment
ppmt = npf.ppmt(0.0925/12, period, 1*12, principle)
for payment in period:
    index = payment - 1
    principle = principle + ppmt[index]
    print(f"{payment}   {np.round(ppmt[index], 2)}    {np.round(ipmt[index],2)}    {np.round(principle, 2)}")

# Compute number of payments to pay off $3,000 if you paid
# $150 per month with an interest rate of 9.25%
np.round(npf.nper(0.0925/12, -150, 3000.00), 2)

# Calculate net present value of cash flows of $4,000, $5,000
# $6,000, $7,000 after $15,000 investment with .08 rate per period
npf.npv(0.08, [-15000, 4000, 5000, 6000, 7000]).round(2)

ModuleNotFoundError: No module named 'numpy_financial'

### Comparison Functions

In [ ]:
carr_1 = np.array([2, 3])
carr_2 = np.array([3, 2])
# Returns boolean based on whether arr_1 value Comparison arr_2 value
np.greater(carr_1, carr_2)
np.greater_equal(carr_1, carr_2)
np.less(carr_1, carr_2)
np.less_equal(carr_1, carr_2)
np.not_equal(carr_1, carr_2)
np.equal(carr_1, carr_2)